/* Estilo para main */
main {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    flex-direction: column;
    padding: 20px;
    background-color: #e3bfc5; /* Fondo de main */
    flex-grow: 1; /* Permite que el main crezca y empuje el footer hacia abajo */
    gap: 20px;
}

/* Estilo para el formulario */
#formCategoria {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f9e0e6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

#formCategoria label {
    font-size: 16px;
    color: #8e0d1e;
}

#formCategoria input, #formCategoria button {
    padding: 10px;
    font-size: 16px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#formCategoria button {
    background-color: #8e0d1e;
    color: white;
    cursor: pointer;
}

#formCategoria button:hover {
    background-color: #e34f65;
}

/* Estilo para las categorías existentes */
h2 {
    color: #8e0d1e;
    font-size: 18px;
    text-align: center;
}

#listaCategorias {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    text-align: center;
}

#listaCategorias li {
    background-color: #f9e0e6;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
