main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3bfc5; /* Color de fondo de la paleta (rosita muy claro) */
    padding: 20px;
}

/* Contenedor centrado del formulario */
.form-container {
    width: 100%;
    max-width: 500px; /* Limita el ancho máximo */
    background-color: #f9e0e6; /* Color de fondo igual al header y footer */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Estilo para los campos del formulario */
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    color: #8e0d1e; /* Rojo intenso para las etiquetas */
    font-size: 16px;
    text-align: left;
    margin-left: 10px;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #8e0d1e; /* Rojo intenso para los bordes */
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    padding: 10px;
    background-color: #8e0d1e; /* Rojo intenso */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #e34f65; /* Rojo más claro para hover */
}

/* Estilo para el mensaje de error */
.error-message {
    color: #e34f65; /* Rojo para el mensaje de error */
    margin-top: 10px;
    font-size: 14px;
}