main {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #e3bfc5; 
    flex-grow: 1; 
}

.zona {
    width: 100%;
    max-width: 300px;
    height: 200px; 
    background-color: #f9e0e6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.zona h2 {
    color: #8e0d1e;
    font-size: 18px;
    margin-bottom: 15px;
}

.zona ul {
    list-style: none;
    padding: 0;
}

.zona li {
    margin-bottom: 10px;
}

.zona a {
    text-decoration: none;
    color: #8e0d1e;
    font-size: 16px;
    font-weight: bold;
}

.zona a:hover {
    color: #e34f65;
}
