main {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    padding: 20px;
    background-color: #e3bfc5; 
    flex-grow: 1;
    gap: 20px;
}

#question-form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    gap: 15px;
    background-color: #f9e0e6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;  
    max-width: 600px; 
    text-align: center;
    box-sizing: border-box; 
}

#question-form label {
    font-size: 16px;
    color: #8e0d1e;
}

#question-form input, #question-form select, #question-form button {
    padding: 10px;
    font-size: 16px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#question-form button {
    background-color: #8e0d1e;
    color: white;
    cursor: pointer;
}

#question-form button:hover {
    background-color: #e34f65;
}

#question-form #enunciado {
    width: 100%;
}

#question-form .options-group {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 10px; 
}

#question-form .options-group input[type="radio"] {
    margin-left: 5px;
}
