/* General */
* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #e3bfc5;
}

/* Cabecera */
header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 0 20px;
    position: sticky;
    border-bottom: 2px solid #8d0d1b;
}

header nav a {
    text-decoration: none;
    color: #8d0d1b;
    margin-left: 20px;
    font-weight: bold;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: #e34f65;
}

header img {
    width: 120px;
    height: 120px;
}
/*Main*/    

/* Pie */
footer {
    height: 80px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #8d0d1b;
    color: #8d0d1b;
    font-size: 14px;
}
